@font-face {
  font-family: 'HK Grotesk';
  src: url('../fonts/hkgrotesk/HKGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/hkgrotesk/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Queens';
  src: url('../fonts/queens/Queens_W-Thin.woff2') format('woff2'),
    url('../fonts/queens/Queens_W-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Queens';
  font-style: italic;
  src: url('../fonts/queens/Queens_W-ThinItalic.woff2') format('woff2'),
    url('../fonts/queens/Queens_W-ThinItalic.woff') format('woff');
}
