@use 'fonts'as *;
@use 'system/_colors.scss'as *;
@use 'system/_typography.scss'as *;
@use 'system/_layout.scss'as *;
@use 'system/_buttons.scss'as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $buttercream;
  color: $charcoal;
  overflow-x: hidden;
  width: 100%;
}

figure,
img {
  max-width: 100%;
  height: auto;
}

// utilities 
.visually-hidden {
  display: none;
}

.show-on-mobile {
  @media (min-width: $collapse-bp) {
    display: none !important;
  }
}

/* typography */
html {
  font-size: 16px;
}

h1,
.h1,
.display-style {
  @include displayStyle();
}

h2,
.h2,
h3,
.h3,
.display-sm-style {
  @include displaySmStyle();
}

.title-style {
  @include titleStyle();
}

p,
.p,
ul,
ol,
.text-style {
  @include textStyle();

}

figcaption,
.caption-style,
.caption {
  @include captionStyle;

  &.caption-uppercase {
    text-transform: uppercase;
  }
}

// links & btns
a {
  color: inherit;
  text-decoration: none;
}

p,
.p,
ul,
ol {
  a:not(.link-inherit) {
    color: inherit;
    transition: .3s ease all;

    &:hover {
      color: $link-color;
    }
  }
}

nav ul a {
  color: inherit;
}

ul.no-style {
  list-style: none;
}

button {
  @include resetBtn;
}

button:not(.no-btn-style),
.btn {
  @include btnSquare();
}

.btn-round {
  @include btnRoundCoral();
}

.link-inherit {
  color: inherit;
}

.link-underline {
  text-decoration: underline;
}

// layouts
.row,
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;

  &.flex-col-center {
    text-align: center;
    justify-content: center;
  }
}

.base-container {
  @include baseContainer;
}

.grid-wrapper {
  @include baseGrid;
}

nav ul {
  list-style: none;
  display: flex;
}


.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 2;
  }
}

// forms 

button[disabled],
input[disabled],
button.disabled {
  pointer-events: none
}

label {
  @include labelStyle;
}

input,
textarea {
  @include inputStyle;
  @include bodyTypeface;
}

textarea {
  resize: none;
}

input {
  height: 48px;
  width: 100%;
  min-width: 100%;
}

// transitions

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}


@mixin bannerTitle($color) {
  @include sansSerifTypeface;
  @include titleStyle;
  padding: 45px 0;
  background: $color;
  text-align: center;
}

.purple-banner-title {
  @include bannerTitle($forest);
  color: $buttercream;
}

.yellow-banner-title {

  @include bannerTitle($sunflower);
}

// icons 


.icon {
  background: $coral;

  span {
    display: none;
  }

  &.instagram::after {
    background-image: url("/icons/instagram.svg");
  }

  &.pinterest::after {
    background-image: url("/icons/pinterest.svg");
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    // background-color: $buttercream;
    width: 24px;
    height: 24px;
  }
}

.page-intro-2 {
  background: $buttercream;

  .page-intro-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $collapse-bp) {
      min-height: 800px;
      min-height: 90vh;
    }

    @media (max-width: $collapse-bp) {
      display: flex;
      flex-direction: column;
      margin-top: 186px;
    }

    .text-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .text-wrapper-wrapper {
        @media (min-width: $collapse-bp) {
          width: 75%;
        }

        @media (max-width: $collapse-bp) {
          width: 95%;
          margin: 0 auto;
          padding-top: 44px;
        }
      }

      // align-items: center;
    }

    .image-wrapper {
      overflow: hidden;

      @media (max-width: $collapse-bp) {
        min-height: 100vw;
        height: 100vw;
      }

      .image-wrapper-wrapper {
        width: 100%;
        height: 100%;
      }

      figure {
        width: 100%;
        height: 100%;

        img {
          min-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}
