@use 'fonts'as *;
@use 'system/_colors.scss'as *;
@use 'system/_typography.scss'as *;
@use 'system/_layout.scss'as *;
@use 'system/_buttons.scss'as *;

/* LANDING PAGE */
$bgHoverTransition: 0.5s ease all;
$mobile-bp: 980px;


button {
  @include resetBtn();
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  color: #272525;

  &:hover {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.visually-hidden {
  display: none;
}

.show-on-mobile {
  @media (min-width: $mobile-bp) {
    display: none !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}


/* typography */

/* typography */
html {
  font-size: 16px;
}

h1,
.h1 {
  @include h1Style();
}

h2,
.h2 {
  @include h2Style();
}

h3,
.h3 {
  @include h3Style();
}

p,
.p,
ul,
ol {
  @include pStyle();
}


nav ul {
  @media (min-width: $mobile-bp) {
    display: flex;
    list-style: none;

    li {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      >* {
        flex: 1;
      }
    }
  }
}

.lp-container {
  height: 100vh;
}

main.lp-grid {
  background: #fbfaf2;
  transition: $bgHoverTransition;
}

@media (min-width: $mobile-bp) {
  main.lp-grid {
    &.emailHover {
      background: #fec3ad;
    }

    &.followHover {
      background: #faede3;
    }

    &.learnHover {
      background: #e6e1e8;

      nav ul li:last-child a {
        background: #f9f4cf;
      }
    }
  }
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 16px;
  max-width: 1338px;
  margin: 0 auto;

  @media (max-width: 1338px) {
    max-width: 100%;
  }
}

.lp-container {
  header {
    text-align: center;

    h2 {
      font-family: "HK Grotesk", Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      text-align: center;
    }
  }

  nav p,
  nav ul {
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif !important;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 30px;
    color: #272525;
  }

  footer {
    justify-self: center;
    align-self: end;
  }
}

@keyframes growCircle {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(30);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lp-grid {
  height: 100%;
  overflow: hidden;

  @media (min-width: $mobile-bp) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    header {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 43px;
    }

    nav {
      flex: 1;

      .menu-close-button,
      .menu-open-button {
        display: none;
      }

      ul.inner-grid {
        padding: 25px 0;

        li span {
          padding-bottom: 18px;
          transition: $bgHoverTransition;
          border-bottom: 1px solid transparent;
        }

        li:hover span {
          border-bottom: 1px solid black;
        }

        li:first-child {
          grid-column: 1 / 4;
        }

        li:nth-child(2) {
          grid-column: 4/6;
          text-align: center;
        }

        li:last-child {
          grid-column: 8 / 9;

          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          a {
            display: flex;
            background: #e6e1e8;
            clip-path: circle(50%);
            text-align: center;
            justify-content: center;
            height: 100%;
            transition: $bgHoverTransition;

            span {
              width: 100%;
              flex: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              border: 0;
            }
          }

          &:hover span {
            border-bottom: 0;
          }
        }
      }
    }

    footer {
      display: none;
    }
  }

  @media (max-width: $mobile-bp) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    header {
      flex: 0 0 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 230px;

      .logo {
        flex: 0 0 30%;
        margin-bottom: 25px;
      }
    }

    nav {
      position: fixed;
      top: 0;
      width: 100%;

      .menu-open-button,
      .menu-close-button {
        position: fixed;
      }

      .menu-open-button {
        background: #e6e1e8;
        border-radius: 50%;
        width: 98px;
        height: 98px;
        right: 20px;
        top: 20px;
      }

      &:not(.expanded) {

        .menu-close-button,
        ul {
          display: none;
        }
      }

      &.expanded {
        @media (max-height: 600px) {
          overflow: scroll;
        }

        position: fixed;
        height: 100%;

        .menu-open-button {
          z-index: 9;
          animation: growCircle 1s ease-in forwards;

          span {
            visibility: hidden;
          }
        }

        .menu-close-button {
          z-index: 12;
          padding: 20px;
          right: 0;
        }

        ul {
          position: relative;
          z-index: 10;
          opacity: 0;
          animation: fadeIn 0.3s 0.8s ease-in forwards;
          height: 100%;
          display: flex;
          list-style: none;
          flex-direction: column;
          justify-content: space-between;

          li {
            font-size: 98px;
            line-height: 90px;

            @media (max-width: 800px) {
              font-size: 75px;
              line-height: 68px;
            }

            @media (max-width: 640px) {
              font-size: 65px;
              line-height: 60px;
            }

            text-align: center;
            align-items: center;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          li:last-child {
            border-top: 1px solid black;

            a {
              display: flex;
              width: 100%;
              flex-direction: column;

              >span:last-child {
                margin-top: 28px;
                max-width: 180px;
                margin-left: auto;
                margin-right: auto;
                font-family: "HK Grotesk", Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      flex: 0 0 10%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 56px;
    }
  }
}

// center the header
.lp-grid {
  @media (min-width: $mobile-bp) {
    header {
      justify-content: flex-end;

      .logo {
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    nav,
    footer {
      position: relative;
      z-index: 6;
    }
  }

  @media (max-width: $mobile-bp) {
    header {
      padding: 230px 0;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
    }

    nav {
      z-index: 7;
    }

    footer {
      position: fixed;
      z-index: 6;
      bottom: 0;
    }
  }
}

@keyframes lpEnter {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.lp-container {

  ul.inner-grid li,
  header h2 {
    opacity: 0;
  }

  ul.inner-grid li {
    animation: lpEnter 1s .5s ease forwards;
  }

  header h2 {
    animation: lpEnter 1s 1s ease forwards;
  }
}


/* layout */


.flex-col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

button[disabled],
input[disabled],
button.disabled {
  pointer-events: none
}


.purple-banner-title {
  @include bodyTypeface;
  padding: 45px 0;
  background: #E6E1E8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}


label {
  @include labelStyle;
}

input,
textarea {
  @include inputStyle;
}

textarea {
  resize: none;
}

input {
  height: 48px;
}
