$btnTransition: .25s ease-in all;

@mixin resetBtn() {
  outline: none;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }
}


@mixin btnSquare() {
  @include resetBtn;
  background: $deep-green;
  color: $buttercream;
  padding: 10px 20px;

  span {
    @include sansSerifTypeface;
    font-size: 16px;
    line-height: 26px;
  }
}

@mixin btnRound($bg, $hoverBg) {
  @include resetBtn;

  background: $bg;
  transition: .3s ease all;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $hoverBg;
  }
}

@mixin btnRoundCoral() {
  @include btnRound($coral, $coral);

  span {
    color: $charcoal;
    @include serifTypeface;
    text-transform: uppercase;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    letter-spacing: 0.02em;
  }
}

@mixin btnRoundMenu() {
  @include btnRound($deep-green, $deep-green);

  span {
    color: $buttercream;
    @include titleStyle();
    text-transform: uppercase;
  }
}

@mixin inputStyle() {
  border-radius: 0;
  outline: 0;
  border: 1px solid $charcoal;
  padding: 8px;

  &:focus {
    border-color: $lavender;
  }
}
