$charcoal-dark: rgb(39, 37, 37);
$charcoal: rgb(78, 78, 78);
$forest: rgb(76, 85, 44);
$deep-green: #434632;
$lavender: #E6E1E8;
$blush: #FAEDE3;
$sunflower: #F9F4CF;
$buttercream: #FBFAF2;
$text-color: $charcoal;
$coral: #FF9D80;
$link-color: $coral;
