$charcoal-dark: #272525;
$charcoal: #4E4E4E;
$forest: #4C552C;
$deep-green: #434632;
$lavender: #E6E1E8;
$blush: #FAEDE3;
$sunflower: #F9F4CF;
$buttercream: #FBFAF2;
$text-color: $charcoal;
$coral: #FF9D80;
