$xxs-spacer: .75rem;
$ss-spacer: 1.5rem;
$s-spacer: 2.25rem;
$m-spacer: 3rem;
$l-spacer: 6rem;
$xl-spacer: 8rem;
$xxl-spacer: 9rem;
$xxxl-spacer: 12rem;


$nav-bp: 1005px;
$collapse-bp: 1005px;

$small-bp: 640px;
$xl-bp: 1300px;

$container-width: $collapse-bp;

@mixin baseContainer() {
  max-width: $container-width;
  margin: 0 auto;

  @media (max-width: $collapse-bp) {
    max-width: 90%;
  }
}
