// typeface
@mixin serifTypeface() {
  font-family: 'Queens', serif;
  font-style: normal;
  font-weight: 300;
}

@mixin sansSerifTypeface() {
  font-family: HK Grotesk, sans-serif;
  font-weight: 400;
}

@mixin displayTypeface() {
  @include serifTypeface();
}

@mixin bodyTypeface() {
  @include sansSerifTypeface();
}

// sizing

@mixin displaySmStyle() {
  @include serifTypeface();
  font-style: italic;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0em;
}

@mixin displayStyle() {
  @media (min-width: $collapse-bp) {
    @include serifTypeface();
    font-style: italic;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0em;
  }

  @media (max-width: $collapse-bp) {
    @include displaySmStyle()
  }
}


@mixin headingStyle() {
  @include serifTypeface();
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0em;
}

@mixin titleStyle() {
  @include sansSerifTypeface();
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.04em;
  font-style: normal;
  text-transform: uppercase;
}

@mixin largeTextStyle() {
  @include sansSerifTypeface();
  font-size: 20px;
  font-style: normal;

  line-height: 35px;
}

@mixin textStyle() {
  @include sansSerifTypeface();
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}

@mixin smallTextStyle() {
  @include sansSerifTypeface();
  font-size: 14px;
  line-height: 24px;
}

@mixin captionStyle() {
  @include serifTypeface();
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
}

// old - refactor

@mixin h1Style() {
  @include headingStyle();
}

@mixin h2Style() {
  @include bodyTypeface();
  font-size: 28px;
  font-style: 300;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
}

@mixin h3Style() {
  @include displayTypeface();
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

@mixin pStyle() {
  @include textStyle()
}

@mixin detailStyle() {
  //styleName: Small;
  @include bodyTypeface();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0m;
}

@mixin labelStyle() {
  @include sansSerifTypeface();
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 0.8rem;
}
